/* CSS files add styling rules to your content */

body {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  color: white; 
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#gameButtonArea {
  width: 60%;
  height: 40%;
  margin: auto;
  margin-top: 30px;
}

.hidden {
  display: none;
}

#gameButtonArea button {
  margin: 8px;
}

#button1 {
  background: lightgreen;
  border-radius: 50%;
}

#button1:active, #button1.lit{
  background:green;
}

#button2 {
  background: lightblue;
  border-radius: 50%;
}

#button2:active, #button2.lit{
  background: blue;
}

#button3 {
  background: lightpink;
  border-radius: 50%;
}

#button3:active, #button3.lit{
  background: red;
}

#button4 {
  background: lightyellow;
  border-radius: 50%;
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5 {
  background: lavender;
  border-radius: 50%;
}

#button5:active, #button5.lit {
  background: purple;
}

#button6 {
  background: #fed8b1;
  border-radius: 50%;
}

#button6:active, #button6.lit {
  background: orange;
}


